<p-growl [(value)]="msg"></p-growl>
<!--ADD DIALOG-->
<p-dialog header="Crear dispositivo" [(visible)]="display" [dismissableMask]="true" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '400', minWidth:'300'}" [resizable]="true">

    <div class="ui-fluid" id="device-div">

        <p>Nombre del dispositivo</p>
        <div class="ui-inputgroup">
            <input type="text" pInputText name="nameDevice" [(ngModel)]="nameDevice">
        </div>

    </div>

    <span class="ui-fluid">

        <div id="project-div">
            <p>Proyecto asociado</p>
            <p-autoComplete [(ngModel)]="nameProject" [suggestions]="filteredProjectsArray"
                (completeMethod)="filterProject($event)" placeholder="Seleccionar un proyecto" [minLength]="0"
                [dropdown]="true"></p-autoComplete><br>

        </div>

    </span>

    <div class="ui-fluid">
        <div id="variables-div">
            <p>Variables</p>
            <p-chips [(ngModel)]="variablesArray" addOnBlur="true"
                pTooltip="Escribe el nombre y presiona ENTER para agregar la variable" tooltipPosition="left"></p-chips>
        </div>
    </div>

    <p-footer>
        <a class="btn-flat red-text" (click)="display=false">Cancelar</a>
        <a class="btn-flat blue-text" (click)="getDeviceData()">Crear</a>
    </p-footer>

</p-dialog>

<!--EDIT DIALOG-->
<p-dialog header="Editar dispositivo" [(visible)]="displayUpdate" [dismissableMask]="true" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '400', minWidth:'300'}" [resizable]="true">

    <div class="ui-fluid">

        <div id="device-div">
            <p>Nombre del dispositivo</p>
            <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Nombre del dispositivo" name="nameDevice"
                    [(ngModel)]="nameDevice">

            </div>
        </div>


    </div>

    <span class="ui-fluid">

        <div id="project-div">
            <p>Proyecto asociado</p>
            <p-autoComplete [(ngModel)]="nameProject" [suggestions]="filteredProjectsArray"
                (completeMethod)="filterProject($event)" placeholder="Nombre del proyecto" [dropdown]="true"
                [minLength]="0"></p-autoComplete><br>

        </div>

    </span>

    <div class="ui-fluid">
        <div id="variables-div">
            <p>Variables</p>
            <p-chips [(ngModel)]="variablesArray" placeholder="Variables"></p-chips>
        </div>
    </div>

    <p-footer>
        <a class="btn-flat red-text" (click)="displayUpdate=false">Cancelar</a>
        <a class="btn-flat blue-text" (click)="getProjectId()">Actualizar</a>
    </p-footer>

</p-dialog>

<!--DELETE DIALOG-->
<p-dialog header="Eliminar dispositivo" [(visible)]="displayDelete" [dismissableMask]="true" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '400', minWidth:'300'}">

    <p>¿Estás seguro que deseas eliminar este dispositivo?</p>

    <p-footer>
        <a class="btn-flat blue-text" (click)="deleteDevice()">Si</a>
        <a class="btn-flat blue-text" (click)="displayDelete=false">No</a>
    </p-footer>

</p-dialog>


<!--*ngFor="let device of devicessArray"-->
<div id="content">
    <div id="devices-div">
        <div class="row">
            <div *ngFor="let device of devicesArray; let i = index" class="col s4">
                <div>
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title" id="device-name">{{device.name}}</span>

                            <div id="variables-div">
                                <p class="text-device">Dispositivo asociado al proyecto <span
                                        id="project-name">{{device.project}}</span></p>
                                <p class="text-device">Variables asociadas:</p>
                                <div id="variables-chips" *ngFor="let variable of device.variables, let i = index">
                                    <div class="chip blue lighten-2">
                                        <span>{{device.variables[i]}}</span>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="card-action right-align">
                            <a pTooltip="Editar" tooltipPosition="bottom" (click)="showDialogUpdateDevice(i)"><i
                                    class="material-icons">create</i></a>
                            <a pTooltip="Eliminar" tooltipPosition="bottom" (click)="showDialogDeleteDevice(i)"><i
                                    class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col s4">
                <div class="card" id="addDeviceButton" (click)="showDialogAddDevice()">
                    <div id="content-add">
                        <a id="add-button" class="btn-floating blue-grey">
                            <i class="material-icons" id="add-button">add</i>
                        </a>
                        <p>Crear dispositivo</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>