<p-growl [(value)]="msg"></p-growl>

<!--DIALOG CREDENCIALES-->
<p-dialog header="Tus credenciales" [(visible)]="display" [dismissableMask]="true" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '600', minWidth:'500'}">

    <div id="token-section">
        <span id="credential-title-token">Token</span>

        <input id="disabled-input" value={{tokenString}} type="text" #token size="59" pInputText [readonly]="true" />
        <button type="button" (click)="copyToClipboard(token)" pButton icon="pi pi-copy" style="font-size: 1em"></button>

    </div>

    <div id="user-section">
        <span id="credential-title-user">Usuario</span>

        <input id="disabled-input" value={{userNameFromLogin}} type="text" #user size="59" pInputText [readonly]="true" />
        <button type="button" (click)="copyToClipboard(user)" pButton icon="pi pi-copy" style="font-size: 1em"></button>

    </div>

</p-dialog>

<!--DIALOG CERRAR SESIÓN-->
<p-dialog header="Cerrar sesión" [(visible)]="displayLogout" [dismissableMask]="true" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '400', minWidth:'300'}">

    <p>¿Estás seguro que deseas cerrar sesión?</p>

    <p-footer>
        <a class="btn-flat blue-text" (click)="logout()">Si</a>
        <a class="btn-flat blue-text" (click)="displayLogout=false">No</a>
    </p-footer>

</p-dialog>


<nav *ngIf="authService.loggedIn(); else isnotLogged">
    <div class="nav-elements">
        <div *ngIf="authService.loggedIn()" class="nav-logo">
            <img src="assets/images/logo_navbar.png" width="172x" height="36px">
        </div>
        <div *ngIf="authService.isAdminLoggedIn();else user_content" class="nav-options">
            <ul>
                <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['admin']">Usuarios</a>
                </li>

                <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['admintutorial']">Tutoriales</a>
                </li>



            </ul>
        </div>

        <ng-template #user_content>
            <div *ngIf="authService.isRestProtocol();" class="nav-options">
                <ul>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a [routerLink]="['restProjects']">Proyectos</a>

                    </li>

                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a [routerLink]="['/restDevices']">Dispositivos</a>
                    </li>

                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a [routerLink]="['/restDocuments']">Documentación</a>
                    </li>
                </ul>
            </div>
        </ng-template>

        <div class="nav-profile">
            <ul class="cursor">

                <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">

                    <p-menu #menu [popup]="true" [model]="itemsProfile"></p-menu>
                    <div>
                        <a (click)="menu.toggle($event)"> {{ stringUserName }}</a>
                        <a><i class="material-icons">account_circle </i></a>
                    </div>


            </ul>
        </div>
    </div>


</nav>

<ng-template #isnotLogged>

</ng-template>