<p-growl [(value)]="msg"></p-growl>

<!--DIALOG CREDENCIALES-->
<p-dialog  [draggable]="false" header="Tus credenciales" [(visible)]="display" [dismissableMask]="true" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '600', minWidth:'500'}">

    <div id="token-section">
        <span id="credential-title-token">Token</span>
        <div class=info-icon>
        <input id="disabled-input" value={{tokenString}} type="text" #token size="59" pInputText [readonly]="true" />
        <a (click)="copyToClipboard(token)"> <i class="material-icons copy-icon">content_copy </i></a>
        </div>
    

    </div>

    <div id="user-section">
        <span id="credential-title-user">Usuario</span>
        <div class=info-icon>
        <input id="disabled-input" value={{userNameFromLogin}} type="text" #user size="59" pInputText [readonly]="true" />
        <a (click)="copyToClipboard(user)"> <i class="material-icons copy-icon">content_copy </i></a>
        </div>
    </div>

</p-dialog>

<!--DIALOG CERRAR SESIÓN-->
<p-dialog [draggable]="false" header="Cerrar sesión" [(visible)]="displayLogout" [dismissableMask]="true" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '400', minWidth:'300'}">

    <p>¿Estás seguro que deseas cerrar sesión?</p>

    <p-footer>
       
           
            <button class="ui-button ui-button-cancelar" type="button" pButton  (click)="displayLogout=false" label="Cancelar"></button>
            <button class="ui-button" type="button" pButton (click)="logout()" label="Aceptar"></button>
    
    </p-footer>

</p-dialog>

<!--NAVBAR-->
<nav *ngIf="authService.loggedIn(); else isnotLogged">
    <div class="nav-elements">
        <div *ngIf="authService.loggedIn()" class="nav-logo">
            <a [routerLink]="['restProjects']">
                <img src="assets/images/logo_navbar.png" width="172x" height="36px">
            </a>
        </div>
        <div *ngIf="authService.isAdminLoggedIn();else user_content" class="nav-options">

            <ul>
                <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['admin']">Usuarios</a>
                </li>

                <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['admintutorial']">Tutoriales</a>
                </li>



            </ul>
        </div>

        <ng-template #user_content>
            <div *ngIf="authService.isRestProtocol();" class="nav-options">
                <ul>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a [routerLink]="['restProjects']">Proyectos</a>

                    </li>

                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a [routerLink]="['/restDevices']">Dispositivos</a>
                    </li>

                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a [routerLink]="['/restDocuments']">Documentación</a>
                    </li>
                </ul>
            </div>
        </ng-template>

        <div class="nav-profile">
            <ul class="cursor">

                <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">

                    <p-menu #menu [popup]="true" [model]="itemsProfile"></p-menu>
                    <div class="o-user-popup-style">
                        <a (click)="menu.toggle($event)"> {{ stringUserName }} <i class="material-icons">account_circle </i></a>

                    </div>


            </ul>
        </div>
    </div>


</nav>

<ng-template #isnotLogged>

</ng-template>