<p-growl [(value)]="msg"></p-growl>
<!--ADD DIALOG-->
<p-dialog header="Crear proyecto" [(visible)]="display" [dismissableMask]="true" [responsive]="true" showEffect="fade"
    [modal]="true" [style]="{width: '400', minWidth:'300'}">

    <div class="ui-fluid" id="project-div">

        <p>Nombre del proyecto</p>
        <div class="ui-inputgroup">
            <input type="text" pInputText name="nameProject" [(ngModel)]="nameProject">
        </div>

    </div>

    <!-- <div id="description-div">
        <textarea rows="10" cols="30" pInputTextarea autoResize="autoResize" placeholder="Descripción"></textarea> 
    </div>-->

    <p-footer>
        <a class="btn-flat red-text" (click)="display=false">Cancelar</a>
        <a class="btn-flat blue-text" (click)="getProjectData()">Crear</a>
    </p-footer>

</p-dialog>

<!--EDIT DIALOG-->
<p-dialog header="Editar proyecto" [(visible)]="displayUpdate" [dismissableMask]="true" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '400', minWidth:'300'}">

    <div class="ui-fluid" id="project-div">

        <p>Nombre del proyecto</p>
        <div class="ui-inputgroup">
            <input type="text" pInputText name="nameProject" [(ngModel)]="nameProject">
        </div>

    </div>

    <p-footer>
        <a class="btn-flat red-text" (click)="displayUpdate=false">Cancelar</a>
        <a class="btn-flat blue-text" (click)="updateProject()">Actualizar</a>
    </p-footer>

</p-dialog>

<!--DELETE DIALOG-->
<p-dialog header="¿Deseas eliminar este proyecto?" [(visible)]="displayDelete" [dismissableMask]="true"
    [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '600', minWidth:'500'}">

    <p>Recuerda que al realziar esta acción todo lo relacionado a este proyecto como dispositivos y variables también
        serán eliminados.</p>

    <p-footer>
        <a class="btn-flat blue-text" (click)="deleteProject()">Si</a>
        <a class="btn-flat blue-text" (click)="displayDelete=false">No</a>
    </p-footer>

</p-dialog>

<div id=content>
    <div id="projects-div">
        <div class="row">
            <div *ngFor="let project of projectsArray; let i = index" class="col s4">
                <div>
                    <div class="card" id="project-card">
                        <div class="card-content" (click)="goToDashboard(i)">
                            <span class="card-title" id="project-title">{{project.name}}</span>
                            <p></p>
                            <p id="project-user">{{project.user}}</p>
                        </div>

                        <div class="card-action right-align">
                            <a pTooltip="Editar" tooltipPosition="bottom" (click)="showDialogUpdateProject(i)"><i
                                    class="material-icons">create</i></a>
                            <a pTooltip="Eliminar" tooltipPosition="bottom" (click)="showDialogDeleteProject(i)"><i
                                    class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s4">
                <div class="card" id="addProjectButton" (click)="showDialogAddProject()">

                    <div id="content-add">
                        <a id="add-button" class="btn-floating blue-grey">
                            <i class="material-icons" id="add-button">add</i>
                        </a>
                        <p>Crear proyecto</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>