<app-rest-sub-navbar>
</app-rest-sub-navbar>



<section>

    <div class="o-proyectos-title-page">
        <h5 class="o-title-style-page">Proyectos</h5>
    </div>
    
    <div class="project-container">
        <p-card *ngFor="let project of  projects" [style]="{width: '20em'}" styleClass="ui-card override-this" class="rest-card">
            <p-header (click)="previusProjectsClick($event, project)">
                <div class="card-header">
                    <h5>{{ project.project }}</h5>
                </div>
            </p-header>
            <div class="card-action right-align">
                <a (click)="editClick($event, project)"><i class="material-icons o-btn-edit-style">create</i>
                </a>
                <a (click)="openDeleteDialog($event,project)"><i class="material-icons o-btn-delete-style">delete</i>
                </a>
            </div>
        </p-card>
        <p-card [style]="{width: '20em'}" styleClass="ui-card override-this" class="rest-card a">
            <p-header (click)="newProjectClick()">
                <div class="new-card-header">
                    <a><i class="material-icons add">add_circle </i></a>
                    <h5>Crear proyecto</h5>
                </div>
            </p-header>
            <div class="card-action">

            </div>
        </p-card>
    </div>
</section>



<p-dialog header="Crear proyecto" [(visible)]="displayNewProject" [modal]="true" [responsive]="true" [style]="{width: '30em', minWidht: '10em'}" [minY]="70" [baseZIndex]="10000" styleClass="o-modal-create-project">
    <p-messages [value]="msgs"></p-messages>
    <div class="dialog-content">
        <span class="ui-float-label">
            <input #projectName class="text-input" id="float-input" type="text" pInputText>
            <label for="float-input">Nombre del proyecto</label>
        </span>
    </div>
    <p-footer>
        <button class="ui-button" type="button" pButton (click)="addProjectClick($event, projectName.value)" label="Crear"></button>
        <button class="ui-button" type="button" pButton (click)="clear()" label="Cancelar"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Editar proyecto" [(visible)]="displayEditProject" [modal]="true" [responsive]="true" [style]="{width: '30em', minWidht: '10em'}" [minY]="70" [baseZIndex]="10000">
    <p-messages [value]="msgs"></p-messages>
    <div class="dialog-content">
        <span class="ui-float-label">
            <input #newProjectName class="text-input" id="float-input" type="text" size="30"   pInputText>
            <label for="float-input">Nombre del proyecto</label>
        </span>
    </div>
    <p-footer>
        <button class="ui-button" type="button" pButton (click)="updateProjectClick($event, newProjectName.value)" label="Aceptar"></button>
        <button class="ui-button" type="button" pButton (click)="clear()" label="Cancelar"></button>
    </p-footer>
</p-dialog>
<footer class="bottom">
    <div class="slide-tutorial-button">
        <button (mouseover)="textOnHover()" (mouseout)="textOnLeave()" class="tutorial-button" type="button" pButton [routerLink]="['/tourProjects']" label={{textLabel}}></button>
    </div>
</footer>
<!--Confirmar borrar-->
<p-dialog  header="Borrar proyecto" [(visible)]="displayDeleteProject" [dismissableMask]="true" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '400', minWidth:'300'}">

    <p>¿Estás seguro que deseas borrar el proyecto?</p>

    <p-footer>
        <a class="btn-flat blue-text" (click)="trashClick()">Si</a>
        <a class="btn-flat blue-text" (click)="displayDeleteProject=false">No</a>
    </p-footer>

</p-dialog>