<app-rest-sub-navbar></app-rest-sub-navbar>
<section>
    <div class="panel-ui">
        <div class="panel-ui-content" *ngIf="isVariableIndependent()">

            <div class="panel-info-content">
                <p-panel class="panel-div" header="URL y tópico para enviar datos por REST o MQTT " [toggleable]="true" [transitionOptions]="'500ms'" toggler="header" collapsed="true">
                    <div class="info">
                        <h5 class='title-h5'><b>TOKEN</b></h5>
                        <p>Para acceder al Token de usuario dirijase a su usuario > credenciales</p>
                        <hr>
                        <h5  class='title-h5'><b>REST</b></h5>
                        <h6>Información para realizar un POST</h6>
                      
                        <div class=info-icon>
                            <p><b>URL: </b> {{postURL}}</p>
                            <a (click)="copyMessage(postURL)"> <i class="material-icons copy-icon">content_copy </i></a>
                        </div>
                       <div class=info-icon>
                        <p> <b>Body:</b> <code>{{'{'}}"value": [valor numérico]{{'}'}}</code></p>
                        <a (click)="copyMessage(postBody)"> <i class="material-icons copy-icon">content_copy </i></a>
                       </div>
                    
    
                        <hr>
                        <h5  class='title-h5'><b>MQTT</b></h5>
                        <h6>Información para conectarse al broker</h6>
                        <p><b>Usuario:</b> {{currentVariable.user}}</p>
                        <p><b>Contraseña:</b> [Token de usuario]</p>
                        <br/>
                        <h6>Información para públicar a un tópico</h6>
                        <div class="info-icon">
                            <p><b>Tópico: </b>{{topic}}</p>
                            <a (click)="copyMessage(topic)"> <i class="material-icons copy-icon">content_copy </i></a>
                        </div>
                        <div class="info-icon">
                            <p><b>Body:</b>  <code>{{'{'}}"token": "[Token de usuario]", "value": [valor numérico]{{'}'}}</code>
                           
                            </p>
                            <a (click)="copyMessage(publishBody)"> <i class="material-icons copy-icon">content_copy </i></a>
                        </div>
                       
    
                        
                    </div>
                </p-panel>

            </div>

           

        </div>
        <p-messages [value]="msgs"></p-messages>

        <div class="chart-container" *ngIf="values.length >= 2">
            <div class="rest-chart">
                <app-rest-chart></app-rest-chart>
            </div>
            <div class="rest-table">
                <app-rest-table></app-rest-table>
            </div>


        </div>


    </div>

</section>
<footer class="bottom">
    <div class="slide-tutorial-button">
        <button (mouseover)="textOnHover()" (mouseout)="textOnLeave()" class="tutorial-button" type="button" pButton [routerLink]="['/tourData']" label={{textLabel}}></button>
      
    </div>
</footer>