<app-rest-sub-navbar></app-rest-sub-navbar>
<section>
    <div class="panel-ui">
        <div class="panel-ui-content" *ngIf="isVariableIndependent()">

            <div class="panel-info-content">
                <p-panel class="panel-div" header="URL y tópico para enviar datos por REST o MQTT " [toggleable]="true" [transitionOptions]="'500ms'" toggler="header" collapsed="true">
                    <div class="info">
                        <p><b>REST</b></p>
                        <p> POST:{{postURL}}</p>
                        <p> Body: <code>{{'{'}}"value": valor{{'}'}}</code></p>
    
                        <hr>
                        <p><b>MQTT</b></p>
                        <p>Tópico: {{currentVariable.user}}/{{currentVariable.project}}/{{currentVariable.deviceN}}/{{currentVariable.variableN}}</p>
                        <p> Body: <code>{{'{'}}"token": "Token_de_usuario", "value": valor{{'}'}}</code></p>
    
                        <p>Usuario: {{currentVariable.user}}</p>
                        <p>Contraseña: Token de usuario</p>
                    </div>
                </p-panel>

            </div>

           

        </div>
        <p-messages [value]="msgs"></p-messages>

        <div class="chart-container" *ngIf="values.length >= 2">
            <div class="rest-chart">
                <app-rest-chart></app-rest-chart>
            </div>
            <div class="rest-table">
                <app-rest-table></app-rest-table>
            </div>


        </div>


    </div>

</section>
<footer class="bottom">
    <div class="slide-tutorial-button">
        <button class="tutorial-button" type="button" pButton [routerLink]="['/tourData']" label="?"></button>
        <p class="anchor-tutorial">Tutorial de datos</p>
    </div>
</footer>