<app-rest-sub-navbar></app-rest-sub-navbar>
<section>
    <div class="o-proyectos-title-page">
        <h5 class="o-title-style-page">Variables</h5>
    </div>

    <p-messages [value]="msgsDev"></p-messages>
    <div class="variablesContainer">
        <p-card *ngFor="let variable of variables"  [style]="{width: '20em'}" styleClass="ui-card override-this" class="rest-card">
            <p-header class="imageContainer" (click)="previusVariablesClick($event, variable)">
                <div *ngIf="variable.variableT === 'Dependiente'; then vardep else varind">
                </div>
                <ng-template #vardep>
                    <div class="variable-header-d">
                        <h5> {{variable.variableN}} </h5>
                    </div>

                </ng-template>
                <ng-template #varind>
                    <div class="variable-header-i">
                        <h5> {{variable.variableN}} </h5>
                    </div>

                </ng-template>
            </p-header>
            <div class="card-action">
                <div class="variable-info">
                <div  *ngIf="variable.variableT=== 'Dependiente'; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock >
                    {{variable.variableT}} de {{variable.variableInd}}
                </ng-template>
                <ng-template #elseBlock>{{variable.variableT}}</ng-template>
            </div>
                <div class="right-align">
                    <a (click)="editClick($event, variable)"><i class="material-icons  o-btn-edit-style">create</i></a>
                    <a  (click)="openDeleteDialog($event,variable)"><i class="material-icons o-btn-delete-style">delete</i></a>
                    
                </div>
            </div>
        </p-card>
        <p-card [style]="{width: '20em'}" styleClass="ui-card override-this" class="rest-card">
            <p-header (click)="newVariableClick()">
                <div class="new-card-header">
                    <a><i class="material-icons add">add_circle </i></a>
                    <h5>Crear variable</h5>
                </div>
            </p-header>
            <div class="card-action">

            </div>
        </p-card>
    </div>
</section>
<footer class="bottom">
    <div class="slide-tutorial-button">
        <button (mouseover)="textOnHover()" (mouseout)="textOnLeave()" class="tutorial-button" type="button" pButton [routerLink]="['/tourVariables']" label={{textLabel}}></button>
        
    </div>

</footer>

<p-dialog header="Añadir variable" [(visible)]="displayNewVariable" [modal]="true" [responsive]="true" [style]="{width: '30em', minWidht: '10em'}" [minY]="70" [baseZIndex]="10000">
    <div class="dialogContent">
        <p-messages [value]="msgs"></p-messages>
        <div class="container">
            <label class="title">Seleccione el tipo de variable</label>
            
           
            <div class="labels">
                <ul>
                    <p-radioButton class="radio-label" name="groupname" value="Independiente"  (click)="handleChange()" [(ngModel)]="selectedValue"></p-radioButton>
                    <li class="label1">Independiente</li>
                    <p-radioButton class="radio-label" name="groupname" value="Dependiente" (click)="handleChange()" [(ngModel)]="selectedValue"></p-radioButton>
                    <li class="label2">Dependiente</li>
                </ul>
            </div>
          <!--<div class="switch">
                <p-inputSwitch (onChange)="handleChange($event)"> </p-inputSwitch>
            </div> -->  
        </div>
        <div *ngIf="displayDependentOptions == true" class="dependentOptions">
            <div class="subContainer">
                <label>Seleccione la variable independiente</label>
                <p-dropdown #selVar [style]="{width: '100%'}" [scrollHeight]="5" [options]="independentVariables" optionLabel="variableN" (onClick)="handleVar($event, selVar.selectedOption.value.variableN)">
                </p-dropdown>
            </div>
            <div class="subContainer">
                <label>Seleccione la operación que desea realizar</label>
                <p-selectButton #selOpr [options]="comparatives" (onOptionClick)="handleOperation($event, selOpr.value)">
                </p-selectButton>
            </div>
            <div class="subContainer">
                <label>Seleccione la constante con la que desea comparar</label>
                <p-spinner #selConst size="45" (onChange)="handleConst($event, selConst.value)">
                </p-spinner>
            </div>
            <div class="subContainer">
                <label>Seleccione el valor que desea fijar en caso de validar la condición anterior.</label>
                <p-spinner #selPositive size="45" [placeholder]="'Se mantiene el valor enviado'" (onChange)="handlePositive($event, selPositive.value)"></p-spinner>
            </div>
            <div class="subContainer">
                <label>Seleccione el valor que desea fijar en caso de NO validar la condición anterior.</label>
                <p-spinner [placeholder]="'Se mantiene el valor enviado'" #selNegative size="45" (onChange)="handleNegative($event, selNegative.value)">
                </p-spinner>
            </div>
        </div>
        <div class="subContainer">
            <span class="ui-float-label">
                <input #newVariableName id="float-input" type="text" size="100%" pInputText onfocus="this.value=''">
                <label for="float-input">Nombre de la variable</label>
            </span>
        </div>
        <div class="subContainer">
            <label>Seleccione el dispositivo al cual desea vincular la variable</label>
            <p-dropdown #selDev [style]="{width: '100%'}" [scrollHeight]="5" [options]="devices" optionLabel="deviceN" (onChange)="handleDev($event, selDev.selectedOption.value.deviceN, selDev.selectedOption.value.deviceH)">
            </p-dropdown>
        </div>
    </div>
    <p-footer>
        <button class="ui-button ui-button-cancelar" type="button" pButton (click)="clear()" label="Cancelar"></button>
        <button class="ui-button" type="button" pButton (click)="addVariableClick(newVariableName.value)" label="Añadir"></button>
       
    </p-footer>
</p-dialog>

<p-dialog header="Editar variable" [(visible)]="displayEditVariable" [modal]="true" [responsive]="true" [style]="{width: '30em', minWidht: '10em'}" [minY]="70" [baseZIndex]="10000">
    <p-messages [value]="msgs"></p-messages>
    <div class="dialogEditContent">
        <span class="ui-float-label">
            <input #updateVariableName class="textEditInput" id="float-input" type="text" size="30"  pInputText>
            <label for="float-input">Nombre de la variable</label>
        </span>
    </div>
    <p-footer>
        <button class="ui-button ui-button-cancelar" type="button" pButton (click)="clear()" label="Cancelar"></button>
        <button class="ui-button" type="button" pButton (click)="updateVariableClick($event, updateVariableName.value)" label="Aceptar"></button>
        
    </p-footer>
</p-dialog>

<!--Confirmar borrar-->
<p-dialog  header="Borrar variable" [(visible)]="displayDeleteVariable" [dismissableMask]="true" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '400', minWidth:'300'}">

    <p>¿Estás seguro que deseas borrar la variable?</p>

    <p-footer>
        <a class="btn-flat blue-text" (click)="trashClick()">Si</a>
        <a class="btn-flat blue-text" (click)="displayDeleteVariable=false">No</a>
    </p-footer>

</p-dialog>