<section>
    <div class="container container-1">
        <div class="project-container project-1">
            <div class="container-title title-1">
                <h3> Proyecto 1 </h3>
            </div>

            <div class="o-add-device-btn-style">

                <div class="new-device-container">
                    <i class="medium material-icons add-icon">add_circle</i>
                </div>
            </div>
            

            <div class="devices-cards">
                <div>
                    <p-card [style]="{width: '13em'}" styleClass="ui-card o-device-card" class="rest-card ">

                        <div class="o-subtitle-card">
                            <h5 class="o-title-card-style">Dispositivo 1</h5>
                            <div>
                                <a><i class="material-icons o-btn-edit-style">create</i></a>
                                <a><i class="material-icons o-btn-delete-style">delete</i></a>
                            </div>
                        </div>

                        <div class="card-action right-align"> </div>
                        <p>Tipo de dispositivo</p>
                    </p-card>

                </div>

                <p-card [style]="{width: '13em'}" styleClass="ui-card o-device-card" class="rest-card ">

                    <div class="o-subtitle-card">
                        <h5 class="o-title-card-style">Dispositivo 2</h5>
                        
                        <div>
                            <a><i class="material-icons o-btn-edit-style">create</i></a>
                            <a><i class="material-icons o-btn-delete-style">delete</i></a>
                        </div>
                    </div>

                    <div class="card-action right-align"> </div>
                    <p>Tipo de dispositivo</p>
                </p-card>
            </div>
          
        </div>

        <div class="project-container">
            <div class="container-title">
                <h3> Proyecto 2 </h3>
            </div>

            <div class="o-add-device-btn-style">
                <div class="new-device-container add-device-1">
                    <i class="medium material-icons add-icon">add_circle</i>
                </div>
          </div>

            <div class="devices-cards">
                <div>
                    <p-card [style]="{width: '13em'}" styleClass="ui-card o-device-card" class="rest-card ">

                        <div class="o-subtitle-card">
                            <h5 class="o-title-card-style">Dispositivo 3</h5>
                            <div>
                                <a><i class="material-icons o-btn-edit-style">create</i></a>
                                <a><i class="material-icons o-btn-delete-style">delete</i></a>
                            </div>
                        </div>

                        <div class="card-action right-align"> </div>
                        <p>Tipo de dispositivo</p>
                    </p-card>

                </div>

                <p-card [style]="{width: '13em'}" styleClass="ui-card o-device-card" class="rest-card ">

                    <div class="o-subtitle-card">
                        <h5 class="o-title-card-style">Dispositivo 4</h5>
                        <div>
                            <a><i class="material-icons o-btn-edit-style">create</i></a>
                            <a><i class="material-icons o-btn-delete-style">delete</i></a>
                        </div>
                    </div>

                    <div class="card-action right-align"> </div>
                    <p>Tipo de dispositivo</p>
                </p-card>
            </div>
           
        </div>
    </div>
</section>
