<section>
    <div class="project-container">
        <p-card [style]="{width: '20em'}" styleClass="ui-card override-this" class="rest-card old-card">
            <p-header>
                <div class="card-header">
                    <h5>Nombre del proyecto</h5>
                </div>
            </p-header>
            <div class="card-action right-align previous-card-bottom">
                <a><i class="material-icons">create</i>
                </a>
                <a><i class="material-icons">delete</i>
                </a>
            </div>
        </p-card>
        <p-card [style]="{width: '20em'}" styleClass="ui-card override-this" class="rest-card new-card">
            <p-header>
                <div class="new-card-header">
                    <a><i class="material-icons add">add_circle </i></a>
                    <h5>Crear proyecto</h5>
                </div>
            </p-header>
            <div class="card-action">

            </div>
        </p-card>
    </div>

</section>