<section>
    <div class="chart-container chart">
        <canvas id="tourData"></canvas>
        <p-button icon="pi pi-ellipsis-h" styleClass="ui-button-secondary"></p-button>
    </div>
    <div class="chart-container table">
        <p-table [value]="values" [paginator]="true" [rows]="8" [alwaysShowPaginator]="false">
            <ng-template pTemplate="header">
                <tr>
                    <th>Index</th>
                    <th>Registro</th>
                    <th>Fecha</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-datos>
                <tr>
                    <td>{{ values.lastIndexOf(datos) + 1 }} </td>
                    <td>{{ datos.value }}</td>
                    <td>{{ datos.date }}</td>
                </tr>
            </ng-template>>
        </p-table>
    </div>
</section>
<footer class="bottom">
    <button class="ui-button-danger" type="button" pButton [routerLink]="['/restData']"
        label="Usar la plataforma"></button>
</footer>