<div id="tutorial-section">
    <h5 id="tutorial-title">Tutoriales para las funciones del administrador</h5>

    <div id="accordion-section">
        <p-accordion [multiple]="true">
            <p-accordionTab header="Administrar usuarios">
                <div id="crud-users">
                    <div class="text-section">
                        <p class="text-block">En la sección de usuarios podrás administrar los usuarios que pueden
                            ingresar y crear proyectos en la plataforma. Al momento de crear un usuario se crean
                            automáticmente sus credenciales.</p>
                    </div>

                    <div class="image-section">
                        <div class="row">
                            <div class="col s6">
                                <img src="assets/images/lista_usuarios.JPG" class="align-center" id="list-users">
                                <p>Lista de usuarios con los botones para la edición y eliminación de cada uno.</p>
                            </div>

                            <div class="col s6">
                                <img src="assets/images/crear_usuario.JPG" class="align-center" id="add-user">
                                <p>Formulario para crear un usuario.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </p-accordionTab>


            <p-accordionTab header="Agregar una libreria">
                <div id="crud-libraries">
                    <div class="text-section">
                        <p class="text-block">En la sección de libreias podrás administrar las librerias de UAOIoT. Para
                            agregar una libreria debes agregar un archivo correspondiente a esta.</p>
                    </div>

                    <div class="row">
                        <div class="col s6">
                            <img src="assets/images/lista_librerias.JPG" class="align-center" id="list-libraries">
                            <p>Lista de librerias.</p>
                        </div>

                        <div class="col s6">
                            <img src="assets/images/crear_libreria.JPG" class="align-center" id="add-library">
                            <p>Formulario para agregar una libreria.</p>
                        </div>
                    </div>

                </div>
            </p-accordionTab>
        </p-accordion>
    </div>

</div>