<div id="tutorial-section">

    <h5 id="tutorial-title">Tutorial para el envío de datos desde Arduino</h5>

    <div class="code-section">
        <p-accordion [multiple]="true">

            <p-accordionTab header="Crear un proyecto">
                <div id="create-project-section">
                    <div class="text-section">
                        <p class="text-block">Una vez que hayas ingresado a la plataforma, podrás ver tus proyectos. Si
                            aún no has creado ninguno, deberás crearlo para continuar.</p>
                    </div>
                    <div class="image-section">
                        <div class="row">
                            <div class="col s6">
                                <img class="align-center" id="img-project" src="assets/images/proyectos.JPG" alt="">
                                <p>Selecciona la opción crear.</p>
                            </div>

                            <div class="col s6">
                                <img id="img-add-project" src="assets/images/nombre_proyecto.JPG" alt="">
                                <p>Asigna un nombre para el proyecto y presiona "Crear".</p>
                            </div>
                        </div>
                    </div>
                </div>

            </p-accordionTab>

            <p-accordionTab header="Agregar un dispositivo">
                <div id="create-project-section">
                    <div class="text-section">
                        <p class="text-block">Una vez creado un proyecto, podrás agregar un dispositivo y asociarlo.</p>
                    </div>
                    <div class="image-section">
                        <div class="row">
                            <div class="col s6">
                                <img class="align-center" id="img-device" src="assets/images/dispositivos.JPG" alt="">
                                <p>Selecciona la opción crear.</p>
                            </div>

                            <div class="col s6">
                                <img id="img-add-device" src="assets/images/crear_dispositivo.JPG" alt="">
                                <p>Completa los campos para crear tu dispositivo. Recuerda presionar ENTER despúes de
                                    escribir el nombre de la variale para agregarla.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </p-accordionTab>


            <p-accordionTab header="Recibir mensajes de un dispositivo">
                <div id="create-project-section">
                    <div class="text-section">
                        <p class="text-block">Para recibir mensajes de un dispositivo, éste debe estar suscrito al
                            tópico "broadcast_[NOMBRE_DE USUARIO]". Posteriormente, puedes elegir el dispositivo a
                            escuchar y un límite de mensajes; si no deseas un límite, deja el campo vacío.</p>
                    </div>
                    <div class="image-section">
                        <div class="row">
                            <div class="col s6">
                                <img class="align-center" id="img-listen" src="assets/images/recibir_mensajes.JPG"
                                    alt="">
                                <p>Completar los campos necesarios y presionar el botón Escuchar.</p>
                            </div>

                            <div class="col s6">
                                <img id="img-add-device" src="" alt="">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Crear gráficas">
                <div id="create-project-section">
                    <div class="text-section">
                        <p class="text-block">Para crear una gráfica deber asegurarte que la lista de mensajes no se
                            encuentre vacía, después de esto configura los atributos de la gráfica en el paso a paso.
                        </p>
                    </div>
                    <div class="image-section">
                        <div class="row">
                            <div class="col s6">
                                <img class="align-center" id="img-list" src="assets/images/lista_mensajes.JPG" alt="">
                                <p>Seleccionar el ícono de graficar en la lista de mensajes.</p>
                            </div>

                            <div class="col s6">
                                <img id="img-type-chart" src="assets/images/tipo_grafica.JPG" alt="">
                                <p>Configurar la gráfica paso a paso.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </p-accordionTab>


            <p-accordionTab header="Crear tablas">
                <div id="create-project-section">
                    <div class="text-section">
                        <p class="text-block">Para crear una tabla, se debe asegurar que la lista de mensajes no se
                            encuentre vacía, después de esto configura los atributos de la tabla.</p>
                    </div>
                    <div class="image-section">
                        <div class="row">
                            <div class="col s6">
                                <img class="align-center" id="img-list" src="assets/images/lista_mensajes.JPG" alt="">
                                <p>Seleccionar el ícono de tabular en la lista de mensajes.</p>
                            </div>

                            <div class="col s6">
                                <img id="img-type-chart" src="assets/images/config_tabla.JPG" alt="">
                                <p>Configurar la tabla.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Código para enviar datos con Arduino">

                <div id="code-div">
                    <div class="text-section">
                        <p class="text-block">A continuación encontrarás el ejemplo de arduino disponible en la librería
                            de UAOIOT para enviar mensajes. En este ejemplo debes configurar los datos de conexión de tu
                            dispositivo. Debes tener en cuenta que si se van a enviar multiples registros estos serán
                            asignados a las variables en el mismo orden que fueron creadas.</p>
                    </div>
                    <pre class="language-arduino" id="pre-code">
                        <!--<button type="button" (click)="copyToClipboard(code)" pButton icon="pi pi-copy" 
                        style="font-size: 1em" pTooltip="Copiar" tooltipPosition="bottom"></button>-->
    
                        <code #code>
                
                            #include < UAOIOTClient.h>
            
                            UAOIOTClient client;
                            unsigned long lastMillis = 0;
                                        
                            void setup() {{'{'}}
                                Serial.begin(9600);  // initialize serial communication
                                while (!Serial);     // do nothing until the serial monitor is opened
                                Serial.println("Iniciando...");
                                client.setDebugPrinter(true);
                                client.connect("[IP_SERVIDOR]","[NOMBRE_DISPOSITIVO]","[USUARIO]","[TOKEN]");//IP INTERNA UAOIOT
                                Serial.println("Conectado al servidor...");
                            {{'}'}}
                                        
                            void loop() {{'{'}}
                                client.loop();
                                        
                                    if(!client.connected()){{'{'}}
                                        client.connect("[IP_SERVIDOR]","[NOMBRE_DISPOSITIVO]","[USUARIO]","[TOKEN]");
                                    {{'}'}}else{{'{'}}
                                    int register0Value=random(100);
                                    int register1Value=random(100);
                                    int register2Value=random(100);
                                    client.setTempRegisterValue(0,register0Value); //VALOR ALEATORIO EN EL REGISTRO 0
                                    client.setTempRegisterValue(1,register1Value); //VALOR ALEATORIO EN EL REGISTRO 1
                                    client.setTempRegisterValue(2,register2Value); //VALOR ALEATORIO EN EL REGISTRO 2
                                    client.publishRegisters("test2","fd", 3);
                                    Serial.print("Enviando -> (");
                                    Serial.print(register0Value);
                                    Serial.print(", ");
                                    Serial.print(register1Value);
                                    Serial.print(", ");
                                    Serial.print(register2Value);
                                    Serial.println(")");
                                    delay(10000);
                                {{'}'}}
                            {{'}'}}
                                        
                            void onPublishDataArrive(String messageType,String srcObject,int registerLength){{'{'}} {{'}'}}
                                
                        </code>
                    </pre>
                </div>

            </p-accordionTab>

        </p-accordion>
    </div>
</div>