<p-growl [(value)]="msg"></p-growl>

<div class="o-crearuser-styles">

    <h5 class="o-title-style-page" id="title">Administrar usuarios</h5>    

    <div class="o-buttonmas">
        <div class="listen button-section  " class="right-align">
            <a id="table-button" class="btn-floating blue darken-1" pTooltip="Agregar" tooltipPosition="bottom" (click)="showDialogAddUser()">
                <i class="material-icons">add</i></a>
        </div> 

    </div>

</div>


<div class="table">
    <p-table [columns]="cols" [value]="users" selectionMode="single" [(selection)]="selectedUser">

        <ng-template pTemplate="header" let-columns class="header-col">
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width:8em; text-align:center;">Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user let-columns="columns">
            <tr>

                <td *ngFor="let col of columns; let i = index">
                    {{user[col.field]}}
                </td>

                <td>
                    <a id="table-button-edit" class="btn-floating blue darken-1" pTooltip="Editar" tooltipPosition="bottom" (click)="showDialogEditUser(user)">
                        <i class="material-icons">edit</i></a>

                    <a id="table-button-delete" class="btn-floating blue darken-1" pTooltip="Eliminar" tooltipPosition="bottom" (click)="showDialogDeleteUser(user)">
                        <i class="material-icons">delete</i></a>

                </td>
            </tr>
        </ng-template>

       <!--  <ng-template pTemplate="summary" let-rowData>
            <div style="text-align:left;">
               
            
            </div>
        </ng-template>-->
    </p-table>
</div>

<!--ADD DIALOG-->

<div class="o-dialog-style">
    

<p-dialog header="Crear usuario" [(visible)]="displayAdd" [draggable]="false"  [dismissableMask]="true" [responsive]="true" showEffect="fade" [modal]="true" [resizable]="true" styleClass="o-admin-modal-create" class="o-admin-modal-crea">


    <div class="ui-fluid name-section">
        <p>Nombre</p>
        <div class="ui-inputgroup">
            <input type="text" pInputText name="name" [(ngModel)]="name">
        </div>
    </div>

    <div class="ui-fluid username-section">
        <p>Usuario</p>
        <div class="ui-inputgroup">
            <input type="text" pInputText name="userName" [(ngModel)]="userName">
        </div>
    </div>

    <div class="ui-fluid" id="password-section">
        <p>Contraseña</p>
        <div class="ui-inputgroup">
            <input type="password" pInputText name="password" [(ngModel)]="password">
        </div>
    </div>

    <p-footer>
        <button class="ui-button ui-button-cancelar" type="button" pButton (click)="displayAdd=false" label="Cancelar"></button>
        <button class="ui-button" type="button" pButton (click)="addUser()" label="Crear"></button>
    </p-footer>

</p-dialog>

</div>

<!--EDIT DIALOG-->
<p-dialog header="Editar usuario" [(visible)]="displayUpdate"  [draggable]="false" [dismissableMask]="true" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '400', minWidth:'300'}" [resizable]="true">

    <!--<div class="ui-fluid name-section">
        <p>Nombre</p>
        <div class="ui-inputgroup">
            <input type="text" pInputText name="name" [(ngModel)]="name">
        </div>
    </div>

    <<div class="ui-fluid username-section">
        <p>Usuario</p>
        <div class="ui-inputgroup">
            <input type="text" pInputText name="userName" [(ngModel)]="userName">
        </div>
    </div>-->

    <div class="ui-fluid">
        <p>Nueva Contraseña</p>
        <div class="ui-inputgroup">
            <input type="password" pInputText name="password" [(ngModel)]="newPassword">
        </div>
    </div>

    <p-footer>
         <button class="ui-button ui-button-cancelar" type="button" pButton (click)="displayUpdate=false" label="Cancelar"></button>
        <button class="ui-button" type="button" pButton (click)="updateUser()" label="Editar"></button>
    </p-footer>

</p-dialog>

<!--DELETE DIALOG-->
<p-dialog header="¿Deseas eliminar este usuario?" [(visible)]="displayDelete"  [draggable]="false" [dismissableMask]="true" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '600', minWidth:'500'}">

    <p>Recuerda que al realizar esta acción todo lo relacionado a este usuario como proyectos, dispositivos y variables también serán eliminados.</p>

    <p-footer>
        <button class="ui-button ui-button-cancelar" type="button" pButton (click)="displayDelete=false" label="Cancelar"></button>
        <button class="ui-button" type="button" pButton (click)="deleteUser()" label="Eliminar"></button>
    </p-footer>

</p-dialog>