.card-image{
    padding-bottom: 2em;
}

.card-action{
    padding: 0.5em;
}

.material-icons{
    color: #607d8b;
    cursor: pointer;
}

.btn-floating{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

#libraries-div{
    margin: 2em 3em;
}

#add-button{
    color: white;
    cursor: pointer;
}

#addLibraryButton{
    
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background: #e0e0e0; 
    opacity: 0.6;
    height: 20.1em;
    display: flex;
    justify-content: center;
    
}

#content-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name-section{
    margin-top: 2em;
}

#language-section{
    width: 100%;
    margin-top: 2em;
}

#file-section{
    margin: 2em 0;
}