section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}

.panel-ui {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.panel-div {
    width: 46%;
}

.bottom {
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: flex-start;
}

.rest-table {
    width: 40rem;
    margin-right: 1rem;
}

.rest-chart {
    max-width: 100%;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 4px rgba(10, 9, 9, 0.288);
    background-color: #ffffff;
    margin-left: 2rem;
    border-radius: 8px;
}

.info {
    word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
    section {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .rest-chart {
        margin-left: 0;
        margin-right: 0;
    }
    .rest-table {
        max-width: 20rem;
        margin-right: 0;
    }
    .panel-div {
        max-width: 20rem;
    }
    .panel-ui {
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1300px) {
    section {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .rest-chart {
        margin-left: 0;
        margin-right: 0;
    }
    .panel-ui {
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
}


/*******************Sección del botón de tutorial******/

.tutorial-button {
    border: 0px;
    background-color: #C4161C;
    border-radius: 5rem;
    font-size: 1.2em;
    font-weight: 400;
    cursor: pointer;
    margin-top: 0rem;
    transition: 100ms;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.20);
}

.anchor-tutorial {
    width: 0%;
    margin-top: 1rem;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    transition: 500ms;
    margin-top: 1rem;
    margin-left: -0.6rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border-radius: 0;
    background-color: #FFFFFF;
    font-weight: 600;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.20);
}

.tutorial-button:hover+.anchor-tutorial {
    transition: 500ms;
    padding: 0.2rem 0.4rem 0.2rem 0.8rem;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 100%;
}

.ui-button:enabled:hover {
    background-color: #ac1e22;
    color: #ffffff;
    border-color: #ac1e22;
}

.slide-tutorial-button {
    position: fixed;
    display: flex;
    bottom: 2%;
    align-items: center;
}


/*********************************************/