.chart-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}

.panel-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel-div {
    width: 43rem;
}

.bottom {
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: flex-start;
}

.rest-table {
    width: 45rem;
}

.rest-chart {
    max-width: 100%;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 4px rgba(10, 9, 9, 0.288);
    background-color: #ffffff;
    margin-left: 2rem;
    border-radius: 8px;
}

.info {
    word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
    section {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .rest-chart {
        margin-left: 0;
        margin-right: 0;
    }
    .rest-table {
        max-width: 22rem;
    }
    .panel-div {
        width: 25rem;
    }
}

@media only screen and (max-width: 1000px) {
    section {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .rest-chart {
        margin-left: 0;
        margin-right: 0;
    }
}