section {
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  
  .panel-container{
    width: 80%;
    margin-bottom: 2em;
  }
  .chart-container {
    width: 90%;
    padding: 1em;
  }
  .bottom {
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: flex-start;
  }