// Color logo #F5382E #3698C9
body,
html {
  height: 100%;
}
.o-projects-background2{
  //  width: 100vw;
    //height: 100%;
   //width: 100rem;
  // height: 100rem;
   
   // background-image: url("../../assets/images/fondo24.png");
  // background-position: center; /* Center the image */
   // background-repeat: no-repeat; /* Do not repeat the image */
  //  background-size: cover; /* Resize the background image to cover the entire container */
  }


section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

#content[_ngcontent-c0] {
    margin-top: 0 !important;
}

.project-container {
    border-radius: 12px 12px 12px 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1em 0 1em 0;
    flex-wrap: wrap;
    .rest-card {
        margin: 1em;
        cursor: pointer;
        .card-header {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 8em;
            border-radius: 12px 12px 0px 0px;
            background-image: linear-gradient(to bottom, #349CCF, #99CAE2);
            h5 {
                color: white;
                margin: 0.3em 0.5em;
            }
        }
        .new-card-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 8em;
            padding-top: 3em;
            h5 {
                color: #C4C4C4;
                text-align: center;
                margin: 0.3em 0.5em;
            }
        }
        .card-action {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 2em;
        }
        transition: 1000ms;
    }
}

.dialog-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 6em;
    align-items: center;
    .ui-float-label {
        width: 90%;
    }
    .text-input {
        height: 3em;
    }
}

.card:hover {
    color: #666666;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.bottom {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

.material-icons {
    color: #607d8b;
    cursor: pointer;
    background-color: white;
}

.add {
    color: #C4C4C4;
    font-size: 3em;
}