nav {
    //background-color: transparent;
    background-color:#F2F2F2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 8.5%;
    height: 2.5em;
    .subnav-elements {
        margin: 0 1em 0 1em;
    }
}

.subnav-elements a:hover {
    background-color: #EC1C24;
}