section {
    width: 90%;
    margin: 0 auto;
    padding: 2em;
}

.o-proyectos-title-page {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    padding: 1em;
    //margin-left: 8.5%;
    height: 2.5em;
    // margin-top: 2em;
    margin-bottom: 0.5em;
    // padding: 0 1em 0 1em;
    .o-title-style-page {
        font-size: 1.8em;
        font-weight: 700;
        color: #545353;
    }
}

.variablesContainer {
    border-radius: 12px 12px 12px 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1em 0 1em 0;
    flex-wrap: wrap;
    .rest-card {
        margin: 1em;
        cursor: pointer;
        .variable-header-i {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 8em;
            background-image: linear-gradient(to bottom, #349CCF, #7bb4d1);
            border-radius: 12px 12px 0px 0px;
            h5 {
                color: white;
                margin: 0.3em 1rem;
            }
        }
        .variable-header-d {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 8em;
            background-image: linear-gradient(to bottom, #C4161C, #d85155);
            border-radius: 12px 12px 0px 0px;
            h5 {
                color: white;
                margin: 0.3em 1rem;
            }
        }
        .new-card-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 8em;
            padding-top: 3em;
            h5 {
                color: #C4C4C4;
                text-align: center;
                margin: 0.3em 0.5em;
            }
        }
        .card-action {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 2em;
            
          
  
           
        }
    }
}

.dialogContent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 25em;
    padding: 1em;
    margin: 1em 0 1em 0;
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        .title {
            width: 100%;
            //background-color: lightcoral;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 0.5em;
        }
        .labels {
            //background-color: lightblue;
            margin-top: 1em;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            ul {
                width: 100%;
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                .label1 {
                    display: flex;
                    justify-content: center;
                    width: 50%;
                    //background-color: lightgray;
                }
                .label2 {
                    display: flex;
                    justify-content: center;
                    width: 50%;
                    //background-color: lightcoral;
                }
            }
        }
        .switch {
            width: 100%;
            //background-color: lightcoral;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
        }
    }
    .dependentOptions {
        //background-color: cyan;
        /*display: flex;
        flex-direction: column;
        justify-content: space-around;*/
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        margin: 1em 0 1em 0;
    }
    .subContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1em 0 1em 0;
        #float-input {
            width: 100%;
            height: 3em;
        }
    }
}

.dialogEditContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 6em;
    align-items: center;
    .ui-float-label {
        width: 90%;
    }
    .textEditInput {
        height: 3em;
    }
}

.card:hover {
    color: #666666;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}

.bottom {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

.material-icons {
    color: #607d8b;
    cursor: pointer;
    background-color: white;
}

.add {
    color: #C4C4C4;
    font-size: 3em;
}

.o-btn-edit-style:hover {
    color: rgb(76, 83, 99);
}

.o-btn-delete-style:hover {
    color: rgb(76, 83, 99);
}


.o-radio-style{
    margin-right: 1.5em;
}

.o-ul-style-vars{
    display: flex;
    justify-content: space-around;
}


/*******************Sección del botón de tutorial******/

.tutorial-button {
    border: 0px;
    width: 100%;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    background-color: #C4161C;
    border-radius: 5rem;
    font-size: 0.9rem;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
    text-align: start;
    cursor: pointer;
    margin-top: 0rem;
    transition: 500ms;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.20);
    transition: width 2s;
}



.tutorial-button:hover{
    transition: 500ms;
   padding-left:0.2rem;
   padding-right:0.2rem;
}

.ui-button:enabled:hover {
    background-color: #ac1e22;
    color: #ffffff;
    border-color: #ac1e22;
}

.ui-button-cancelar{
    background-color: white!important;
    color: #ac1e22;
    border-color:  #ac1e22;
}

.ui-button-cancelar:hover {
    background-color: #eeeeee!important;
    color: #91181c!important;
    border-color:  #91181c;
}

.slide-tutorial-button {
    position: fixed;
    display: flex;
    bottom: 2%;
    right: 2%;
    justify-content:flex-end;
    align-items: flex-end;
}

.o-seleccion-var-style{
    display: flex;
    
}


/*********************************************/

@media only screen and (max-width: 600px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .o-proyectos-title-page {

        // padding: 0 1em 0 1em;
        .o-title-style-page {
            font-size: 1.2em;
    
        }
    }

}

@media only screen and (max-width: 320px) {
   
    .o-ul-style-vars{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.variable-info{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

