// Color logo #F5382E #3698C9
section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

// Color logo #F5382E #3698C9
section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

#content[_ngcontent-c0] {
    margin-top:0 !important;
}

.project-container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 1em 0 1em 0;
    flex-wrap: wrap;

    .rest-card{
         margin: 1em;
         cursor: pointer;

        .card-header {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 8em;
            background-image: linear-gradient(to bottom, #ec1c24, #eb262d, #eb2f35, #e9373d, #e83e44);
             h5{
                 color: white;
                 margin: 0.3em 0.5em;
             }
        }

        .new-card-header {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 8em;
            background-image: linear-gradient(to bottom, #3698c9, #3a9fd1, #3ea5d9, #42ace1, #46b3e9);
             h5{
                 color: white;
                 margin: 0.3em 0.5em;
             }
        }

        .card-action{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 2em;

        }
    }
}
.dialog-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 6em;
    align-items: center;

    .ui-float-label{
        width: 90%;
    }

    .text-input{
        height: 3em;
    }

}

.card:hover {
    color: #666666;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
} 

.bottom {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

.material-icons{
    color: #607d8b;
    cursor: pointer;
    background-color: white;
}
.dialog-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 6em;
    align-items: center;

    .text-input{
        width: 27em;
        height: 3em;
    }

}

.card:hover {
    color: #666666;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
} 

.bottom {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

.shepherd-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightblue;
}