.card{
    cursor: pointer;
}

.card-image{
    padding-bottom: 2em;
}

.material-icons{
    color: #607d8b;
    cursor: pointer;
    font-size: 32px;
}

#libraries-div{
    margin: 2em 3em;
}

#content{
    margin-top:4.2em;
}