#tutorial-section {
    margin: 2.5em;
}

#tutorial-title {
    margin-bottom: 1.5em;
}

#crud-users {
    margin: 1.5em 2em 1.5em 1.5em;
}

#crud-libraries {
    margin: 1.5em 2em 1.5em 1.5em;
}

#list-users {
    width: 100%;
}

#add-user {
    width: 85%;
}

#list-libraries {
    width: 100%;
}

#add-library {
    width: 80%;
}

.text-section {
    margin-bottom: 1.5em;
}

.o-title-style-page {
    font-size: 1.6em;
    font-weight: 700;
    color: #545353;
}