#tutorial-section{
    margin: 2.5em;
}

#tutorial-title{
    margin-bottom: 1.5em;
}

#create-project-section{
    margin: 1.5em 2em 1.5em 1.5em;
}

#img-project {
    width: 90%;
}

#img-add-project{
    width: 80%;
}
.image-section{
    
}

#img-device {
    width: 90%;
}

#img-add-device{
    width: 70%;
}

#img-listen{
    width: 150%;
}

#img-list{
    width: 100%;
}

#img-type-chart{
    width: 80%;
}

#code-div{
    margin: 1.5em 2em 1.5em 1.5em;
}

#pre-code{
    display: grid;
}

.text-section{
    margin-bottom: 1.5em;
}
