.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 35px;
    padding: 0;
    background-color: #e83e44;
    border-radius: 50%;
    transition: background-color .3s;
    cursor: pointer;
    vertical-align: middle;
}

.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
}

#title {
    margin: 2em 0 1em 0;
}

#table-button-edit {
    margin-left: 0.5em;
}

#table-button-delete {
    margin-left: 1em;
}

.name-section,
.username-section {
    margin-top: 1em;
    margin-bottom: 1em;
}

#password-section {
    margin-bottom: 1em;
}

.o-admin-modal-create {
   // min-width: 40em !important;
  // minWidth: '20em';
    width:40em !important;
}

.o-admin-modal-crea{
    
}

.o-title-style-page {
    font-size: 1.6em;
    font-weight: 700;
    color: #545353;
}

th,
td {
    word-break: break-all;
}

.o-crearuser-styles{
    display:flex;
    align-items: center;
    //justify-content: space-between;
   /// flex-direction: row;
  //  flex-wrap: wrap;
}


.o-buttonmas{
    margin: 2em 0 0 1em; 
}

.ui-button-cancelar{
    background-color: white!important;
    color: #ac1e22;
    border-color:  #ac1e22;
}

.ui-button-cancelar:hover {
    background-color: #eeeeee!important;
    color: #91181c!important;
    border-color:  #91181c;
}
.ui-button:enabled:hover {
    background-color: #ac1e22;
    color: #ffffff;
    border-color: #ac1e22;
}



@media only screen and (max-width: 400px) {
    .table {
        min-width: 21rem;
        margin-left: -3rem;
       
    }
}


@media only screen and (max-width: 600px) {


    .o-admin-modal-create {
       // width: 500em !important;
       
      //  margin: 0 2em 0 2em;
      //  min-width: 5em;
      //  minWidth: '20em';
    }
   
}